.container-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    height: 136px;
    background-color: #ffffff;
    border: none;
    border-radius: 14px;
    opacity: 0.7;
}

.container-filter-title {
    padding: 24px 0 30px 24px;
    font-size: 16px;
    font-family: var(--font-body);
    color: #0A0A0A;
}

.container-filter-select {
    display: flex;
    width: 100%;
    padding: 0 0 24px 0;
    justify-content: space-between;
}

.container-filter-input {
    height: 100%;
    width: 80%;
    font-size: 14px;
    color: #828291;
    border: none;
    outline: none;
    box-shadow: none;
}

.container-filter-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.container-filter-input::placeholder:focus,
.container-filter-input::placeholder:valid {
    color: transparent;
    outline: none;
}

.container-select {
    width: 100%;
    padding-right: 24px;


}

.container-option {
    background-color: #ffffff;
    opacity: 1.0;
    border: none;
    width: 100%;
    height: 36px;
    color: #828291;
}

select:focus select:valid {
    color: black;
    user-select: none;
}

input:focus {
    border: 1px solid #828291;
    border-radius: 5px;
    box-shadow: #828291;
    user-select: auto;
}

@media (max-width: 768px) {

    .container-filter {
        height: auto;
        padding: 18px;
        gap: 14px;
    }

    .container-filter-select {
        flex-direction: column;
        gap: 16px;
        padding: 0;
    }

    .container-select {
        width: 100%;
        padding-right: 0;
    }

    .container-filter-input {
        width: 100%;
        font-size: 16px;
    }
}
